[submodule "src/modules/ViTPose"]
	path = src/modules/ViTPose
	url = https://github.com/ViTAE-Transformer/ViTPose.git
[submodule "src/modules/Deformable-DETR"]
	path = src/modules/Deformable-DETR
	url = https://github.com/fundamentalvision/Deformable-DETR.git
[submodule "src/modules/PCT"]
	path = src/modules/PCT
	url = https://github.com/Gengzigang/PCT.git
[submodule "src/modules/ValterTracking"]
	path = src/modules/ValterTracking
	url = https://github.com/ValterH/automatic-positions-detection-and-scoring-in-jiu-jitsu.git
